{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cerita Satu PPW</title>
{% endblock meta %}

{% block content %}
<div class="my-first-content" id = "cerita-satu">
                <div id = "cerita-satu-content">
                    <h1>Cerita Satu</h1>
                    <p>Inilah penyelesaian tugas satu.</p>
                    <img src="{% static 'img/fotoSaya.jpg' %}" id= "fotopribadi" alt="Foto saya">

    <br> <b>Nama :  </b>
    Vander Gerald </br>
    <b>Tempat Kuliah :</b>
    Fasilkom UI </br>
    <b>Jurusan :</b>
    Ilmu Komputer </br>
    <b>NPM :</b>
    1906350603 </br>
    <b>Angkatan :</b>
    2019 </br>
    <b>Hobi :</b>
    catur, membaca buku </br>

<h2> Deskripsi Diri </h2>
<p>Saat ini saya seorang mahasiswa ilmu komputer yang siap belajar berbagai masalah komputer yang harus diselesaikan dan membuat saya berpikir. Saya berpikir bahwa saya memiliki gagasan yang cukup baik tentang jenis masalah yang mungkin saya hadapi dalam jurusan ilmu komputer ini. Saya percaya saya bisa menyelesaikan studi saya dengan efektif dan itulah tujuan saya saat ini.
</p>
<p>Saya belajar dengan cara saya sendiri untuk memiliki kemampuan dan pengetahuan <i>programming</i> yang baik di masa depan. 
    Hal tersebut menjadi bagian yang sangat penting dari kehidupan saya untuk beberapa tahun ke depan.</p>
<h2>Riwayat Pendidikan</h2>
<table class="table">
    <thead>
    <tr>
    <th scope="col"># </th>
        <th scope="col">Tahun </th>
        <th scope="col">Nama Institusi</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row"> 1 </th>
        <td> 2013 - 2016</td>
        <td> SMPK Penabur Kota Tangerang</td>
    </tr>
    <tr>
    <th scope="row"> 2 </th>
        <td> 2016 - 2019 </td>
        <td> SMAK Penabur Kota Tangerang</td>
    </tr>
    <tr>
    <th scope="row"> 3 </th>
        <td> 2019 - sekarang </td>
        <td> Universitas Indonesia</td>
    </tr>
    </tbody>
</table>
         </div>
</div>

    
{% endblock content %}
