{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
{% endblock meta %}


{% block content %}
   <div class="my-first-content" id = "homecontent">
           <h2>Selamat Datang di Homepage</h2>
            <div id="teks">
                <div id = "homepg">
                    <p> Nama saya Vander Gerald Sukandi. Nomor pokok mahasiswa 1906350603. </p>
                    <p>
                        Saya senang Anda telah menemukan homepage website ini dan ingin mengetahui sesuatu tentang saya. Terima kasih. 
                        Saat ini, saya harus menyelesaikan tugas Perancangan dan Pemrograman Web dengan Django.</p>
                    

                </div>
        </div>
    </div>
{% endblock content %}
