table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

tr, th {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
}

td {
	border: .1px solid black;
	text-align: left;
	padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}