/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

h2 {
	margin-top: 20px;
	margin-left: 40%;
}

h1 {
	margin-bottom: 20px;
	margin-left: 40%;
}

body{
}

.navbar {
	margin-bottom: 30px;
	border-bottom: 1px solid #00933d;
}

.form{
	width: 40%;
	margin: 3px;
	margin-right: 50%;
}

.navbar-nav {
	margin-right: 80px;

}

.navitem {
	margin-left: 10px;
	margin-right: 10px;
}

.my-first-content {
	margin-left: 100px;
	margin-right: 150px;
}

.left-content{
	width:45%;
	float:left;
	border-right: 1px solid #F5E5D6; 
    box-sizing: border-box;
    margin-right:10px;
    padding:0;	
    background-color: rgb(255,255,235);
    height: 600px;

}
.right-content{
	width:45%;
	float:right;
	margin-left:10px;
	padding:0;
	box-sizing: border-box;
	height: 700px;

}

.justdisplaycontainer {
	margin-top: 150px;
}

.yourSlides {
	margin: 10px;
	height: 129px;
	width: 120px;
	display: none;
}

#fotopribadi {
	margin-left: 10px;
	margin-bottom: 20px;
}

#Tentang {
	margin-left: 100px;
	margin-right: 400px;
}

#cerita-satu-content {
	margin-left: 100px;
	margin-right: 400px;
}

#fotol {
	margin-bottom: 20px;
	margin-top: 20px;
}

#gallery-contant{
	margin-left: 300px;
	height: 1000px;
}

#Kegiatan-Ku {
	margin-bottom: 50px;
}

#tambah-ds {
	margin-left:75%;
	margin-top: 200px;
}
