{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet"  href="{%  static  'css/search-table.css'  %}">
<title>Search Google APIS Books</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% if  user.is_authenticated %}
<script src="{% static 'js/search_story8.js' %}"></script>   
{% else %}
{% endif %}
{% endblock meta %}

{% block content %}
   <div class="my-first-content" id = "projectcontent">
           <h2>Halaman untuk Story 8</h2>
     
                <div id = "story8Content">
                    {% if not user.is_authenticated %}
                    <p>Anda harus login dulu untuk menggunakan fitur Story 8!</p>

				{% else %}
				 <p>Di bawah ini adalah fitur Story 8 yang bisa digunakan jika sudah login.</p>

				 <input id="keyword" placeholder = "Masukkan keyword">
				 <table id="stb">
				 </table>
                   <p></p>
				{% endif %}

                </div>
    </div>
{% endblock content %}
