
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Gallery</title>
{% endblock meta %}


{% block content %}
  <div class="my-first-content">
           <div id="gallery-contant">

                <div id = "Gallery">
                    <h2>Gallery</h2>
                    <p> Kita ingin mengisi gallery ini. 
                    </p>

                    <div class="just-display-container">  
  <img class="yourSlides" src="{% static 'img/s1.jpg' %}">
  <img class="yourSlides" src="{% static 'img/s2.jpg' %}">
  <img class="yourSlides" src="{% static 'img/s3.jpg' %}">
  <img class="yourSlides" src="{% static 'img/s4.jpg' %}">
  <img class="yourSlides" src="{% static 'img/s5.jpg' %}">

  <button class="our-button display-left" onclick="tambahIndex(-1)">&#10094;</button>
  <button class="our-button display-right" onclick="tambahIndex(1)">&#10095;</button>
  <script src="{% static 'js/simpleimageslider.js' %}"> </script>
  
 </div>
                
     </div>
        </div>  
  
{% endblock content %}
