
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan Kuliah</title>
{% endblock meta %}


{% block content %}
  <div class="my-first-content">
                <div id = "Kegiatan-Ku">

                  {% if number == 1 %}
                    <h2>Form Mata Kuliah</h2>
                  {% elif number == 2 %}
                   <h2>Form Dosen</h2>
                  {% endif %}
                    {% if mylink %}
                  <li class="nav-item" id ="tambah-ds" >
                    <a class="nav-link" href="{% url 'main:tambahdosen' %}">Tambah Dosen</a>
                  </li>
                  {% endif %}

                    <div class="form-khusus">
                      <p> Isi form di bawah ini.</p>
                      {% if number == 1 %}
                      <form action="add" method="POST">
                  {% elif number == 2 %}
                      <form action="tambahdoseny" method="POST">
                  {% endif %}
                        {% csrf_token %}
                        <table border="1">
                             {% for field in form_mk %}
    {{ field.errors }}
    <li> {{ field.label_tag }} {{ field }} </li> 
  {% endfor %}
                         </table>
                        <input type="submit" class='btn btn-primary' value="Add ">
                      </form>
 </div>  
 <p> Akhir halaman </p>     
     </div>
        </div>  

{% endblock content %}
