{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kontak</title>
{% endblock meta %}


{% block content %}
   <div class="left-content" id = "contact-form-content">
           <div class="my-first-content" id="l-content-contact">
            <div class="pertanyaan" id = "pertanyaan-kontak">
                <h2>Ada pertanyaan?</h2>

                <p>Ada pertanyaan? </p>
                <p> Silahkan  hubungi saya dengan mengisi form di bawah ini. Semua e-mail dienkripsi dan dikirim dengan aman.</p>
            </div>
        </div>      
        </div>  

        <div id="right-content">
    
            <div class="my-first-content" id = "right-contacts">
                    <h1>Hubungi Vander Gerald </h1>
                    <b>Nomor telepon</b>
                    <p>+628 2279 302 001</p>
                    <b>E-mail universitas</b>
                    <p>vander.gerald@ui.ac.id</p>
                    <b>E-mail pribadi</b>
                    <p>vndrgrld2001@gmail.com</p>
                    <b>Gitlab <img id = "gitlab" src= "{% static 'img/gitlab.jpg' %}"> </b>
                    <p> <a href="https://gitlab.com/v_gerald"> Gitlab saya </a> </p>
                    <b>Line</b>
                    <p>@vanderrz</p>
            </div>

        </div>

{% endblock content %}
