{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title></title>
{% endblock meta %}


{% block content %}
   <div class="my-first-content" id = "projectcontent">
           <h2>Selamat Datang di halaman Proyek</h2>
            <div id="teks">
                <div id = "homepg">
                    <p> Halaman ini belum bisa diisi. </p>
                    

                </div>
        </div>
    </div>
{% endblock content %}
