
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tabel Mata Kuliah</title>
{% endblock meta %}


{% block content %}
  <div class="my-first-content">
                    <div class="form-khusus">
                      <h1>Tabel Mata Kuliah </h1>
                        <table class="table" border="1">
                          <thead>
                          <tr>
                        <th scope = "col"> Nama </th>
                        <th scope = "col"> Semester </th>
                        <th scope = "col"> SKS </th>
                        <th scope = "col"> Deskripsi </th>
                        <th scope = "col"> Ruang Kelas </th>
                        <th scope = "col"> Dosen Kuliah </th>
                        <th scope = "col"> Hari </th>
                        <th scope = "col"> Hapus </th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for matkul in matakuliah %} 
                      <tr>
                        <th scope ="row"> {{matkul.name}} </th>
                        <th scope ="row"> {{matkul.semester_tahun}} </th>
                        <th scope ="row"> {{matkul.sks}} </th>
                        <th scope ="row"> {{matkul.deskripsi_text}} </th>
                        <th scope ="row"> {{matkul.ruang_kelas}} </th>
                        <th scope ="row">{% for dosen in matkul.dosen_kuliah.all %}<li>{{dosen}} </li>
                        {% endfor %} 
                      </th>
                        <th scope ="row"> {% for hari in matkul.days.all %}
                          <li>{{days}} </li> {% endfor %} 
                           </th> 
                        <td><a href = " {% url 'main:Delete' pk=matkul.pk %}"> <button class = "btn btn-icon btn-danger"> </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                       
 </div>    
     </div>

{% endblock content %}