{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tentang Saya</title>
{% endblock meta %}


{% block content %}
   <div class="my-first-content" id = "tentang-saya">            
            <div id="teks">
                <div id = "Tentang">
                    <h1>Tentang Saya</h1>

                    <p> Saya lahir di Tangerang, Indonesia pada 9 Juni 2001. 
                        Saya dibesarkan oleh kedua orangtua saya di kota ini. Nama lengkap saya adalah Vander Gerald Sukandi. 
                        Saya  warga negara Indonesia keturunan Tionghoa generasi ketiga dari pihak ayah dan keturunan Manado generasi kesekian dari pihak ibu. Saya anak tunggal. 
                    </p>
                    <div id="fotol">
                        <img src="{% static 'img/fotoSaya.jpg' %}" alt="Vander Gerald" height="180px" width="180px"/> 
                    </div>
                    <p>
                        Saya lulus dari SMAK Penabur Kota Tangerang, saya mengikuti SBMPTN 2019 dan setelah memasuki perkuliahan di Fakultas Ilmu Komputer UI sebagai mahasiswa jurusan Ilmu Komputer pada tahun 2019. Di semester tiga ini, saya harus menyelesaikan mata kuliah wajib Perancangan dan Pemrograman Web yang notabenenya membebani dengan tugas setiap minggu. Prototype ini dibuat  untuk menyelesaikan tugas 2.
                    </p>
                    <p>Setiap orang tentu memiliki hobi pribadi. Bagi saya, hobi saya adalah bermain catur. Bermain catur membuat saya bugar secara mental. Pemakaian otak saya dalam permainan catur membiasakan diri saya dengan pengambilan keputusan yang cepat. Hobi saya ini memilki sifat kompetitif dan aturan-aturan yang baku. Saya tertarik pada permainan ini dan memutuskan untuk mempelajarinya sejak tahun ketiga sekolah dasar saya. Saya menekuninya sampai saya menjadi pemain catur terbaik di SMA saya dulu dan memenangkan satu lomba catur  tingkat nasional di Jakarta.</p>
                    <p> Saya punya pemikiran bahwa setelah lulus kuliah saya bisa bekerja sebagai pemrogram komputer. Saya cukup menyukai pemrograman komputer dan siap mempelajari apapun yang diperlukan. Saya mampu bekerja keras dan menolerir kebosanan demi keberhasilan.
                    </p>
                </div>
        </div>
    </div>

{% endblock content %}
