{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
{% endblock meta %}


{% block content %}
<h1 class='judul'>Miliki hari yang indah!</h1>
  {% if user.is_authenticated %}
    <div class="content">
        Selamat datang, {{user.username}} .
    </div>
    {% else %}
    {% endif %}
{% endblock content %}