{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign Up Story 9</title>
{% endblock meta %}


{% block content %}
<h1>Daftarkan Akun</h1>
<form method="POST">
{% csrf_token %}
{% for field in form %}
<p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error}}
        </p>
        {% endfor %}
      </p>
      {% endfor %}
      <button type="submit">Daftarkan akun.</button>
  </form>
{% endblock content %}