{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tugas Story 9</title>

{% endblock meta %}


{% block content %}
     {% if user.is_authenticated %}

    <h1 class='judul'>Miliki hari yang indah!</h1>

    <div class="content">
        {{user.username}}
    </div>
    {% else %}

    <h1 class='judul'>Silahkan Login.</h1>

    <div class='form'>
        <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items tombol">
                <input type="submit" class="btn btn-primary" value="Login" id="submit">
            </div>
        </form>
    </div>
    {% endif %}

{% endblock content %}